.planscreen_plan {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    opacity: 9.8;
}

.planscreen_plan:hover {
    opacity: 1;
}

.planscreen_ sub>button {
    background-color: gray !important;
}

.planscreen_plan>button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #ffff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}